fastapi
uvicorn
python-multipart

# Extraction & Processing Dependencies
PyMuPDF
python-docx
pandas
openpyxl
trafilatura
beautifulsoup4
lxml[html_clean]
sqlparse
langdetect
nltk

# Embedding Dependencies
sentence-transformers
torch

# Vector Database
qdrant-client
python-dotenv

# LangChain & Google Gemini
langchain==0.1.16
langchain-core==0.1.52
langchain-google-genai==1.0.2
langchain-qdrant==0.1.1
langchain-community==0.0.34

# Database Connectivity
sqlalchemy
psycopg2-binary
google-generativeai

# UI
streamlit
requests

# Security
cryptography
